* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: white;
  scroll-behavior: smooth;
}
body {
  background-color: #0a0c1e;
}
.main {
  position: relative;
}
h2 {
  font-size: 26px;
  font-weight: bold;
}
p {
  text-align: center;
  font-size: 16px;
}
.logo {
  max-width: 92px;
}
.navigationBar {
  background-color: #0c082b;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding: 22px 20px;
}
#nav-icon1 {
  width: 24px;
  height: 18px;
  position: relative;
  cursor: pointer;
  display: none;
}

#nav-icon1 span {
  position: absolute;
  display: block;
  height: 2px; /* super thin like iOS */
  width: 100%;
  background: white; /* iPhone uses near-black */
  border-radius: 2px;
  left: 0;
  transition:
    transform 0.25s ease,
    top 0.25s ease,
    opacity 0.2s ease;
}

/* bar spacing */
#nav-icon1 span:nth-child(1) {
  top: 0;
}
#nav-icon1 span:nth-child(2) {
  top: 8px;
}
#nav-icon1 span:nth-child(3) {
  top: 16px;
}

/* OPEN → morph into X */
#nav-icon1.open span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
}

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  transform: rotate(-45deg);
}

/*mobileOptions */
.mobileOptions {
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #0c082b;
  /* animation setup */
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  z-index: 100;
  transition:
    transform 0.35s ease,
    opacity 0.3s ease;
}
.mobileOptions a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
}
/* ACTIVE STATE → slide down */
.mobileOptions.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* Desktop Options */
.desktopOptions {
  color: white;
  display: flex;
  gap: 30px;
  padding: 0 2em;
  align-items: center;
  flex: 1;
  justify-content: end;
  gap: 72px;
}
.desktopOptions a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}
.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  padding: 20px 0;
}
.heroImage {
  width: 370px
}
.heroImage img {
  width: 100%;
}
.heroText {
  text-align: center;
}
.heroText h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: clamp(38px, 5vw, 82px);
  margin-bottom: 27px;
}
.yellow {
  color: #fdc700;
}
.heroText p {
  color: #ffff;
  font-size: 14px;
  margin-bottom: 24px;
}
.downloadCTAmobile {
  background-color: #161a41;
  width: 100%;
  padding: 1em;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.downloadCTAmobile a {
  color: #5d260f;
  padding: 1em;
  background: #ffb900;
  background: linear-gradient(
    90deg,
    rgba(255, 185, 0, 1) 0%,
    rgba(254, 154, 0, 1) 50%
  );
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-size: 12px;
  box-shadow:  0px 3px rgba(197,106,24,1);
}

/* Section 2 */
.section2
{
  margin-top: 50px;
}
.section2,
.section3,
.testimonialSection {
  padding: 38px 20px;
}
.section2 h2,
.section3 h2,
.testimonialSection h2 {
  margin-bottom: 20px;
  text-align: center;
}
 .section2 p,
  .section3 p,
  .testimonialSection p {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: regular;
    color: rgba(227, 229, 252, 0.8);
  }

.cardsHolder {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #211e3d;
  border-radius: 14px;
  scale: 0.97;
  transition: all ease-in-out 0.4s;
  border: 1px solid #413e6b;
}

.card:hover {
  scale: 1;
  cursor: pointer;
}
.card h3 {
  text-align: center;
  margin-bottom: 14px;
  font-size: 18px;
}
.cardText {
  padding: 1.5em;
}
.card p {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  margin-bottom: 28px;
}
.cardImage {
  line-height: 0;
}
/*  */
/* Section 3 */
/*  */

.numbersCardsHolder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.numberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #524e77;
  border-radius: 14px;
  text-align: center;
  scale: 0.97;
  transition: all ease-in-out 0.4s;
  padding: 24px 12px;
  justify-content: center;
  gap: 14px;
}
.numberCard:hover {
  scale: 1;
  cursor: pointer;
}

.numbersText p {
  width: 100%;
  color: hsla(235, 81%, 94%, 0.753);
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: regular;
}
.numbersText h3 {
  font-size: 30px;
  font-weight: semi-bold;
}
/*  */
/* Testimonials */
/*  */
.slider-wrapper {
  position: relative;
  height: 350px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider-track {
  display: flex;
  width: max-content; /* let browser calculate */
  animation: slideauto 40s linear infinite;
  gap: 20px;
}
.testHead {
  width: 80%;
  margin: auto;
  text-align: center;
}

.testimonialSection {
  margin-top: 3em;
  margin-bottom: 3em;
}
.footer {
  background-color: white;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footerTop
{
  width: 106.11px;
}
.footerFirst {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer h6 {
  color: #0a0c1e;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px;
}
.footer a {
  color: rgba(10,12,30,0.7);
  display: block;
  margin-top: 0.7em;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
}
.footer p {
  color: #0a0c1eb2;
  text-align: left;
}
.socialIcons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footerSecond {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ctadownloads {
  display: none;
}

@keyframes slideauto {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.slide {
  width: 320px;
  display: flex;
  overflow: hidden;
  perspective: 100px;
  cursor: pointer;
  flex-direction: column;
  background: #211e3d;
  padding: 24px 20px;
  border-radius: 14px;
  height: 301px;
}

/** Shaddow **/
.slider-wrapper::before,
.slider-wrapper::after {
  background: linear-gradient(
    270deg,
    rgba(10, 12, 30, 0) 0%,
    rgba(10, 12, 30, 0.6) 45.67%,
    rgba(10, 12, 30, 0.8) 80%,
    #0a0c1e 100%
  );
  content: "";
  position: absolute;
  height: 100%;
  width: 15%;
  z-index: 2;
}
.slider-wrapper::before {
  left: 0;
  top: 0;
}
.slider-wrapper::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.userDetails {
  display: flex;
  gap: 15px;
}
.userInfo h5 {
  font-size: 1em;
}
.userInfo p {
  color: hsla(235, 81%, 94%, 0.753);
  margin-top: 10px;
  margin-bottom: 0;
}

.testimonialUpper {
  border-bottom: 1px solid #413e6b;
  padding-bottom: 22px;
}
.testimonialLower {
  padding: 1em 0 ;
}
.testimonialLower p {
  font-size: 16px;
  font-weight: 400;
  font-style: regular;

  text-align: left;
}
.slider-track {
  will-change: transform;
}
.desktopBottom {
  display: none;
}
.desktopSlider {
  display: none;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel__slides {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  column-gap: 20px;
  scrollbar-width: none;
}
.carousel__slides::-webkit-scrollbar {
  display: none;
}

.carousel__slide {
  flex: 0 0 100%;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}

.slide {
  width: 100%;
  background: #211e3d;
  border-radius: 14px;
}

/* dots */
.carousel__navdots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.carousel__navdots button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 0;
  background: #6b6a94;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
}
.carousel__navdots button.is-active {
  opacity: 1;
  background: rgb(255, 255, 255,0.9);
  transform: scale(1.2);
}

.testimonialSection
{
  padding-bottom: 0;
}
/* MOBILE */

@media screen and (max-width: 600px) {
  #nav-icon1 {
    display: block;
  }
  .desktopOptions {
    display: none;
  }
  .footerTop {
    max-width: 130px;
  }
  .footerTop img {
    width: 100%;
  }
  .footer {
    margin-bottom: 4em;
  }
}

@media screen and (min-width: 768px) {
  .navigationBar {
    padding: 22px 96px;
  }
  .logo {
    max-width: 164px;
  }
  .main {
    padding: 0 96px;
  }

  .mobileSlider {
    display: none;
  }
  .desktopSlider {
    display: block;
  }

  .heroSection {
    flex-direction: row;
    padding-top: 34px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .heroText {
    text-align: start;
    font-weight: 600;
  }
  .heroText h1 
  {
    font-size: 82px;
  }
  .heroText p {
    font-size: 24px;
    margin-top: 24px;
    font-weight: lighter;
    text-align: left;
  }
  .heroImage
  {
    width: 100%;
  }

  .downloadCTAmobile {
    display: none;
  }
  .cardsHolder {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  .card {
    max-width: 360px;
    padding: 30px 29px 0;
    gap: 32px;
  }
  .numbersCardsHolder {
    flex-direction: row;
    justify-content: space-between;
  }
  .numberCard {
    width: 100%;
    max-width: 450px;
  }
  .cardText {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .cardImage {
    max-width: 250px;
    line-height: 0;
  }
  .cardImage img {
    width: 100%;
  }
  .footer {
    padding: 65px 96px;
  }
  .footerFirst {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer hr {
    display: none;
  }
  .footerSecond {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    border-top: 1px solid hsla(235, 81%, 94%, 0.753);
    padding-top: 2em;
  }
  .footerTop a 
  {
    font-size:16px;
  }
  .footerSecond a {
    margin: 0;
    font-size: 16px;
  }
  .otherLinks {
    display: flex;
    gap: 20px;
  }
  .ctadownloads {
    display: flex;
    margin-top: 1em;
    gap: 20px;
  }
  .imgStore {
    max-width: 180px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  .imgStore:hover {
    scale: 1.1;
  }
  .imgStore img {
    width: 100%;
  }
  .section2,
  .section3,
  .testimonialSection {
    padding: 80px 0;
  }
  .section2 h2,
  .section3 h2,
  .testimonialSection h2 {
    margin-bottom: 17px;
    font-size: 50px;
  }
  .section2 p,
  .section3 p,
  .testimonialSection p {
    margin-bottom: 87px;
    font-size: 18px;
  }
  .desktopBottom {
    display: flex;
    background-color: #fdc700;
    padding: 2em 4em;
    margin: 2em auto;
    border-radius: 14px;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }
  .sideRight img {
    max-width: 394px;
  }
  .sideLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .sideLeft h3,
  .sideLeft p {
    color: #0a0c1e !important;
  }
  .sideLeft p {
    font-size: 22px;
    text-align: left;
  }
  .sideLeft h3 {
    font-size: 44px;
  }
  .sideRight {
    line-height: 0;
  }

  .desktopOptions a {
    font-size: 1em;
  }
  .heroImage {
    max-width: 100%;
  }
  .section2,
  .section3,
  .testimonialSection {
    padding: 80px auto;
  }
  .card h3 
  {
    font-size: 26px;
    margin: 0;
  }
  .slide {
    max-width: 300px;
    padding: 28px;
  }
  .testimonialLower p {
    font-size: 16px;
  }
  .testimonialUpper {
    padding: 0;
    padding-bottom: 1em;
  }
  .cardText p {
    font-size: 16px;
    margin: 0;
  }
  .numberCard {
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 31px 0;
  }
  .numberCard p,
  .slide p {
    margin: 0;
    font-size: 16px;
  }
  .numbersText h3 {
    font-size: 36px;
  }
  .numbersText {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    margin: 0;
  }
  .testimonialSection {
    margin: 0;
  }
  .slide p {
    text-align: left;
  }
  .sidetxt {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }
  .footerTop {
    max-width: 164px;
  }
  .otherLinks {
    justify-content: space-between;
    flex: 1;
  }
  .footer h6 {
    font-size: 20px;
  }
}

/* Overlay */
body.noScroll {
  overflow: hidden;
}
.overLayIphone,
.overLayAndroid {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.iphoneQRBox,
.androidQRBox {
  display: flex;
  flex-direction: column;
  background-color: #211e3d;
  padding: 2em 1em;
  width: 100%;
  max-width: 350px;
  align-items: center;
  border-radius: 14px;
}
.iphoneQRBox h3,
.androidQRBox h3 {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 1.4em;
}
.iphoneQRBox p,
.androidQRBox p {
  margin-top: 1em;
  font-size: 0.8em;
  color: #adacc0;
}
.show {
  display: flex;
}
