* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: white;
  scroll-behavior: smooth;
}
body {
  background-color: #0a0c1e;
}
.main {
  position: relative;
}
.logo {
  max-width: 100px;
}
.navigationBar {
  padding: 1.2em;
  background-color: #0c082b;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
#nav-icon1 {
  width: 24px;
  height: 18px;
  position: relative;
  cursor: pointer;
  display: none;
}

#nav-icon1 span {
  position: absolute;
  display: block;
  height: 2px; /* super thin like iOS */
  width: 100%;
  background: white; /* iPhone uses near-black */
  border-radius: 2px;
  left: 0;
  transition:
    transform 0.25s ease,
    top 0.25s ease,
    opacity 0.2s ease;
}

/* bar spacing */
#nav-icon1 span:nth-child(1) {
  top: 0;
}
#nav-icon1 span:nth-child(2) {
  top: 8px;
}
#nav-icon1 span:nth-child(3) {
  top: 16px;
}

/* OPEN → morph into X */
#nav-icon1.open span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
}

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  transform: rotate(-45deg);
}

/*mobileOptions */
.mobileOptions {
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #0c082b;
  /* animation setup */
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  transition:
    transform 0.35s ease,
    opacity 0.3s ease;
}
.mobileOptions a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
}
/* ACTIVE STATE → slide down */
.mobileOptions.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* Desktop Options */
.desktopOptions {
  color: white;
  display: flex;
  gap: 30px;
  padding: 0 2em;
}
.desktopOptions a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: bold;
}
.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  gap: 1em;
}
.heroImage {
  max-width: 500px;
  width: 100%;
}
.heroImage img {
  width: 100%;
}
.heroText {
  text-align: center;
}
.heroText h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 2.5em;
}
.yellow {
  color: #fdc700;
}
.heroText p {
  color: #b8b9d2;
  font-size: 0.7em;
  margin-top: 2.4em;
}
.downloadCTAmobile {
  background-color: #161a41;
  width: 100%;
  padding: 1em;
}
.downloadCTAmobile a {
  color: #5d260f;
  padding: 1em;
  background: #ffb900;
  background: linear-gradient(
    90deg,
    rgba(255, 185, 0, 1) 0%,
    rgba(254, 154, 0, 1) 50%
  );
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* Section 2 */
.section2,
.section3 {
  padding-top: 3em;
}
.section2 h2,
.section3 h2 {
  font-size: 2em;
  text-align: center;
}
.section2 p,
.section3 p {
  font-size: 1.1em;
  text-align: center;
  font-weight: 10;
  margin-top: 1em;
}
.cardsHolder {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 2em;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #211e3d;
  border-radius: 14px;
  scale: 0.97;
  transition: all ease-in-out 0.4s;
}
.card:hover {
  scale: 1;
  cursor: pointer;
}
.card h3 {
  text-align: center;
}
.cardText {
  padding: 1.5em;
}
.card p {
  font-size: 0.9em;
}
/*  */
/* Section 3 */
/*  */
.section3 p {
  width: 65%;
  margin: auto;
  margin-top: 1em;
}
.numbersCardsHolder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2em;
}
.numberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #211e3d;
  border-radius: 14px;
  text-align: center;
  padding: 2em 0;
  scale: 0.97;
  transition: all ease-in-out 0.4s;
}
.numberCard:hover {
  scale: 1;
  cursor: pointer;
}
.numbersText {
  margin-top: 1em;
}
.numbersText p {
  width: 100%;
  color: hsla(235, 81%, 94%, 0.753);
}
/*  */
/* Testimonials */
/*  */
.slider-wrapper {
  position: relative;
  height: 350px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider-track {
  display: flex;
  width: max-content; /* let browser calculate */
  animation: slideauto 40s linear infinite;
  gap: 20px;
}
.testHead {
  width: 80%;
  margin: auto;
  text-align: center;
}
.testHead h2 {
  font-size: 2em;
}
.testHead p {
  margin: 1em 0 2em;
}
.testimonialSection {
  margin-top: 3em;
  margin-bottom: 3em;
}
.footer {
  background-color: white;
  padding: 2em;
}
.footerFirst {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer h6 {
  color: #0a0c1e;
  font-weight: 900;
  font-size: 1em;
}
.footer a {
  color: #0a0c1eb2;
  display: block;
  margin-top: 0.7em;
  text-decoration: none;
  font-weight: 600;
}
.footer p {
  color: #0a0c1eb2;
}
.socialIcons {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 1.5em;
}

.footerSecond {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ctadownloads {
  display: none;
}

@keyframes slideauto {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.slide {
  width: 350px;
  display: flex;
  overflow: hidden;
  perspective: 100px;
  cursor: pointer;
  flex-direction: column;
  background: #211e3d;
  padding: 1em;
  border-radius: 14px;
}

/** Shaddow **/
.slider-wrapper::before,
.slider-wrapper::after {
  background: linear-gradient(
    270deg,
    rgba(10, 12, 30, 0) 0%,
    rgba(10, 12, 30, 0.6) 45.67%,
    rgba(10, 12, 30, 0.8) 80%,
    #0a0c1e 100%
  );
  content: "";
  position: absolute;
  height: 100%;
  width: 15%;
  z-index: 2;
}
.slider-wrapper::before {
  left: 0;
  top: 0;
}
.slider-wrapper::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.userDetails {
  display: flex;
  gap: 15px;
}
.userInfo h5 {
  font-size: 1em;
}
.userInfo p {
  color: hsla(235, 81%, 94%, 0.753);
  margin-top: 10px;
}

.testimonialUpper {
  padding-bottom: 1.5em;
  border-bottom: 1px solid hsla(235, 81%, 94%, 0.753);
  padding-top: 1em;
}
.testimonialLower {
  padding: 1em 0;
}
.testimonialLower p {
  font-size: 1.18em;
  color: hsla(235, 81%, 94%, 0.753);
}
.slider-track {
  will-change: transform;
}
.desktopBottom {
  display: none;
}

/* MOBILE */

@media screen and (max-width: 600px) {
  #nav-icon1 {
    display: block;
  }
  .desktopOptions {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .heroSection {
    flex-direction: row;
    padding: 2.3em;
  }
  .heroText {
    text-align: start;
    font-size: 1.7em;
    font-weight: 600;
  }
  .heroText p {
    font-size: 0.8em;
    margin-top:0.8em;
    font-weight: lighter;
  }
  .section2 h2,
  .section3 h2 
  {
    font-size: 2.7em;
  }
  .section2 p,
  .section3 p 
  {
    font-size: 1em;
    color: #e3e5fc;
  }
  .downloadCTAmobile {
    display: none;
  }
  .cardsHolder {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    max-width: 360px;
  }
  .numbersCardsHolder {
    flex-direction: row;
    justify-content: center;
  }
  .numberCard {
    width: 100%;
    max-width: 350px;
  }
  .footerFirst {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer hr {
    display: none;
  }
  .footerSecond {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    border-top: 1px solid hsla(235, 81%, 94%, 0.753);
    padding-top: 2em;
  }
  .footerSecond a {
    margin: 0;
  }
  .otherLinks {
    display: flex;
    gap: 20px;
  }
  .ctadownloads {
    display: flex;
    margin-top: 1em;
    gap: 20px;
  }
  .imgStore {
    max-width: 150px;
    cursor: pointer;
  }
  .imgStore img {
    width: 100%;
  }
  .section2 {
    margin-top: 3em;
  }
  .desktopBottom {
    display: flex;
    background-color: #fdc700;
    padding: 2em 4em;
    max-width: 700px;
    margin: 2em auto;
    border-radius: 14px;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }
  .sideRight img {
    max-width: 200px;
  }
  .sideLeft {
    width: 50%;
  }
  .sideLeft h3,
  .sideLeft p {
    color: #0a0c1e !important;
  }
  .sideLeft p {
    margin-top: 1em;
    font-size: 0.8em;
  }
  .sideLeft h3 {
    font-size: 1.45em;
  }
}

/* Overlay */
body.noScroll {
  overflow: hidden;
}
.overLayIphone,
.overLayAndroid {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.iphoneQRBox,
.androidQRBox {
  display: flex;
  flex-direction: column;
  background-color: #211e3d;
  padding: 2em 1em;
  width: 100%;
  max-width: 350px;
  align-items: center;
  border-radius: 14px;
}
.iphoneQRBox h3,
.androidQRBox h3 {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 1.4em;
}
.iphoneQRBox p,
.androidQRBox p {
  margin-top: 1em;
  font-size: 0.8em;
  color: #adacc0;
}
.show {
  display: flex;
}
